<section class="hero-section text-gray-200 py-32 flex items-center justify-center" id="home" style="scroll-margin-top:100px;">
    <div class="container mx-auto text-center px-6 leading-relaxed font-thin">
      <h1 class="md:text-4xl text-4xl mb-6 animate-fade-in font-semibold"><span class="gradient-text">Need to Sell your Home Quickly?</span></h1>
      <!-- <div class="typewriter-container">
        <span id="typewriter-text" class="typewriter"></span>
      </div> -->
      <p class="md:text-xl mb-8 max-w-2xl mx-auto animate-fade-in">We buy houses in any condition, anywhere. Get a fair cash offer today-quick, hassle-free, and on your terms!</p>
      <div class="md:justify-center animate-fade-in md:flex">
        <input class="px-10 py-4 rounded-lg md:rounded-r-none text-gray-800 w-[98%] md:w-96 focus:outline-none focus:ring-2 focus:ring-purple-500" type="text" placeholder="Enter property Address" id="home-address-field" onkeydown="if(event.key === 'Enter') { carryAddress(document.getElementById('home-address-field').value)}">
        <button class="btn-primary px-8 py-3 md:py-4 block mx-auto md:mx-0 rounded mt-6 md:mt-0 md:rounded-l-none text-white hover:bg-purple-700 transition-colors text-md" onclick="carryAddress(document.getElementById('home-address-field').value)">Get Cash Offer</button>
      </div>
    </div>
  </section>