  .typewriter-container {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    /* Cursor */
    animation: blink-caret 0.9s step-end infinite;
  }

  @keyframes blink-caret {

    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: orange;
    }
  }

  .word-1 {
    color: #6D28D9;
    /* Purple */
  }

  .word-2 {
    color: #EF4444;
    /* Red */
  }