<header class="navbar">
    <div class="container mx-auto flex justify-between items-center px-8">
      <div class="flex items-center py-2">
        <a href="/">
          <img src="/images/lionesshomes.png" alt="We Buy Any House Logo" class="h-16 object-contain">
        </a>
        <a href="/">
        <div class="gradient-text text-2xl">&nbsp;&nbsp;Lioness Homes</div>
        <a>
      </div>
      <!-- Desktop Nav -->
      <nav class="hidden lg:flex space-x-10 gradient-text font-semibold">
        <a href="/#home" class="nav-item" onclick="mobileMenu.classList.toggle('hidden')">Home</a>
        <a href="/services" class="nav-item" onclick="mobileMenu.classList.toggle('hidden')">Services</a>
        <a href="/#sell-stress-free" class="nav-item">About Us</a>
        <a href="/#how-it-works" class="nav-item">How It Works</a>
        <a href="/#testimonials" class="nav-item">Testimonials</a>
        <a href="/blog" class="nav-item">Blog</a>
        <a href="/#contact" class="nav-item">Contact</a>
      </nav>
      <!-- Mobile Menu Button -->
      <button id="mobile-menu-button" class="lg:hidden text-gray-200 focus:outline-none">
        <i class="fas fa-bars text-2xl"></i>
      </button>
    </div>
    <!-- Mobile Dropdown Menu -->
    <div id="mobile-menu" class="mobile-menu flex z-10">
      <a href="/#home" class="mob-nav-item" onclick="hideNavbar()">Home</a>
      <a href="/services" class="mob-nav-item" onclick="hideNavbar()">Services</a>
      <a href="/#sell-stress-free" class="mob-nav-item" onclick="hideNavbar()">About Us</a>
      <a href="/#how-it-works" class="mob-nav-item" onclick="hideNavbar()">How It Works</a>
      <a href="/#testimonials" class="mob-nav-item" onclick="hideNavbar()">Testimonials</a>
      <a href="/blog" class="mob-nav-item" onclick="hideNavbar()">Blog</a>
      <a href="/#contact" class="mob-nav-item" onclick="hideNavbar()">Contact</a>
    </div>
  </header>